@import url("../css/variable.css");
@import url("../css/global.css");

/*-------------- start navigation --------------*/

header {
    background-color: var(--gray_back);
}

.nav {
    display: flex;
    max-width: 95%;
    padding: 1% 0%;
    margin: 0 auto;
}

.brand h1 {
    padding: 0%;
    margin: 0%;
    font-family: var(--Muli);
    font-size: 3rem;
}

.nav-menu {
    flex-grow: 1;
    margin: 0% 2%;
}

.nav-items {
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
}

.nav-items .nav-link {
    padding: 1rem 1.5rem;
}

.nav-items .nav-link a {
    text-decoration: none;
    color: black;
    font-family: var(--Muli);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-items .nav-link:hover a {
    color: gray;
}

.toggle {
    margin: 1%;
}

.menu-btn {
    display: none;
}

.menu-icon {
    font-size: 2rem;
    margin: 0.5% 1%;
    display: none;
}


/******************* Ending Navigation ********************/


/* **********Start Slider-home ************/

.slider {
    background-color: var(--gray_back);
}

.slider-main {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 5% 0%;
}

.slider-main__text {
    flex: 1;
    box-sizing: border-box;
    /* padding: 2% 10% 0% 0%; */
}

.slider-main__text .text-slider-main {
    margin: 10% 20% 0% 3%;
}

.slider-main__text h3 {
    margin: 0%;
    padding: 0%;
    font-family: var(--Muli);
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 900;
}

.slider-main__text p {
    font-family: var(--Roboto);
    padding-bottom: 3%;
}

.slider-main__text a:nth-child(1) {
    margin-right: 2%;
}

.slider-main__image {
    flex: 1;
}

.image-slider-home {
    position: relative;
    height: 25rem;
    width: 70%;
    margin: 0 auto;
}

.image-slider-home img {
    position: absolute;
}

.image-slider-home img:nth-child(1) {
    top: -10%;
    left: -20%;
}

.image-slider-home img:nth-child(2) {
    top: 0%;
    left: 10%;
}

.image-slider-home img:nth-child(3) {
    top: 10%;
    right: -5%;
}

.image-slider-home img:nth-child(4) {
    top: 25%;
    left: -20%;
}

.order-1 {
    order: 1;
}


/* **********Ending Slider-home ************/


/* *****start banner********** */

.container-banner {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
    flex-wrap: wrap;
    padding: 2% 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner {
    text-align: center;
    padding: 0%;
    width: 24%;
}

.banner1,
.banner2,
.banner3,
.banner4 {
    flex-grow: 1;
}

.banner h3 {
    font-size: 1.3rem;
    margin: 3% 0% 0%;
    text-transform: capitalize;
    font-weight: 800;
    font-family: var(--Muli);
}

.banner p {
    color: gray;
    font-size: 1rem;
    font-family: var(--Muli);
}


/* *****end banner ***********/


/* *****start development************* */

.container-development {
    background-color: var(--gray_back);
    height: 30vw;
    padding: 2%;
}

.development {
    display: flex;
}

.development-image,
.development-text {
    flex-grow: 1;
    width: 400px;
}

.development-image {
    position: relative;
}

.development-image img {
    width: 100%;
}

.development-image img:nth-child(1) {
    position: absolute;
}

.development-image img:nth-child(2) {
    width: 50%;
    position: absolute;
    left: 25%;
}

.development-text {
    padding: 2vw 4vw;
}

.development-text h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--Muli);
    padding: 0%;
    margin: 0%;
}

.development-text p {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--Roboto);
    padding-bottom: 2vw;
}


/* *********end development******** */


/* ********start blog ***************/

.container-blog {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
    flex-wrap: wrap;
    padding: 2% 0%;
}

.blog {
    width: 24%;
}

.blog h3 {
    font-family: var(--Muli);
    text-transform: capitalize;
}

.blog span {
    color: rgb(235, 175, 102);
}

.blog p {
    color: #676767;
}

.blog img {
    width: 100%;
}


/* ********end blog ******************/


/* ********start footer************* */

.footer {
    background-color: rgb(7, 34, 46);
    color: white;
    display: flex;
    padding: 100px 50px;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4 {
    width: 23%;
    margin: 2%;
}

.footer-1 h3 {
    width: 40px;
}

.footer-2 ul {
    list-style: none;
    padding: 0%;
}


/* end footer ********************/


/***************** start Responsive****************  */

@media (max-width: 1024px) {
    /* ********start navigation************* */
    header {
        background-color: white;
    }
    .nav {
        justify-content: space-between;
    }
    .nav-menu {
        position: fixed;
        top: 6%;
        right: -55%;
        background-color: white;
        width: 50%;
        height: 100%;
        z-index: 100;
        /* transform: translateX(330px); */
        transition: all 0.4s ease-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .menu-btn:checked~.nav-menu {
        right: -5%;
    }
    .nav-menu div .nav-items {
        flex-direction: column;
    }
    .toggle {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    /* ********ending navigation************* */
    /* ********start slider******************* */
    .slider-main__text {}
    .slider-main__text .text-slider-main {
        margin: 10% 25% 0% 3%;
    }
    .slider-main__text {}
    .text-slider-main h3 {
        font-size: 3rem;
    }
    .slider-main__image {}
    .image-slider-home img:nth-child(1) {
        height: 100%;
        left: -40%;
    }
    .image-slider-home img:nth-child(2) {
        height: 100%;
        left: -5%;
    }
    .image-slider-home img:nth-child(3) {
        height: 80%;
        top: 20%;
        left: 35%;
    }
    .image-slider-home img:nth-child(4) {
        height: 70%;
        top: 30%;
        left: -40%;
    }
    /* ********End slider *************************/
    /* *******start banner ***********/
    .banner {}
    /* ********end banner **************/
    /* start blog *****************/
    /* end blog******************** */
}

@media (max-width: 768px) {
    /* ****start slider */
    .slider-main__text .text-slider-main {
        margin: 10% 0% 0% 3%;
    }
    .image-slider-home img:nth-child(1) {
        height: 70%;
        top: 0%;
        left: -30%;
    }
    .image-slider-home img:nth-child(2) {
        height: 60%;
        top: 10%;
        left: 5%;
    }
    .image-slider-home img:nth-child(3) {
        height: 50%;
        top: 20%;
        left: 35%;
    }
    .image-slider-home img:nth-child(4) {
        height: 40%;
        top: 30%;
        left: -20%;
    }
    /* *****end slider ************/
    /* *******start banner ***********/
    .banner {
        width: 40%;
        padding: 0% 5%;
    }
    /* ********end banner **************/
    /* development */
    .development-text {
        padding: 0%;
    }
    /* development */
    /* start blog *****************/
    .blog {
        width: 48%;
        margin-top: 20px;
    }
    /* end blog******************** */
}

@media (max-width: 415px) {
    /* navigation */
    .nav-menu {
        top: 10%;
        width: 50%;
    }
    /* end navigation */
    /* ------start slider------------- */
    .slider-main {
        flex-direction: column;
    }
    .image-slider-home {
        height: 20rem;
    }
    .image-slider-home img:nth-child(1) {
        height: 100%;
        top: 10%;
        left: -30%;
    }
    .image-slider-home img:nth-child(2) {
        height: 80%;
        top: 20%;
        left: 5%;
    }
    .image-slider-home img:nth-child(3) {
        height: 60%;
        top: 40%;
        left: 35%;
    }
    .image-slider-home img:nth-child(4) {
        height: 60%;
        top: 40%;
        left: -25%;
    }
    .slider-main__text {
        padding: 5%;
        width: 100%;
    }
    /* ------end slider ---------------*/
    /* *******start banner ***********/
    .banner {
        width: 100%;
        padding: 0% 10%;
    }
    /* ********end banner **************/
    /* development****************** */
    .container-development {
        height: 130vw;
    }
    .development {
        flex-direction: column;
        max-width: 90%;
    }
    .development-image {
        height: 70vw;
    }
    .development-text {
        text-align: center;
    }
    /* end development *****************/
    /* start blog *****************/
    .blog {
        width: 100%;
        margin-top: 20px;
    }
    /* end blog******************** */
    /* start footer ************/
    .footer {
        flex-direction: column;
    }
    .footer-1,
    .footer-2,
    .footer-3,
    .footer-4 {
        width: 100%;
    }
    /* end footer *****************/
    .btn {
        padding: .8rem 1.5rem;
    }
}